<h2 style="color:#ffffff">Categories</h2>
<div id="sidebar">
	<ul>
	<% @categories.each do |category| %>
		<li><%= link_to category.name, catergory_path(:id => category.id) %></li>
	<% end %>
	</ul>
</div>