<h2 style="color:#ffffff"><%= @category.name %></h2>
<br />
<% if @posts.each do |post| %>
<div class="post">
	<h3><%= link_to post.title, post_path(:id => post.id) %></h3>
	<p><%= post.body %></p>
</div>
<% end.empty? %>
	<p style="color:#ffffff">Sorry, no posts in category </p>
<% end %>
<%= link_to "Back to Categories", catergories_path %>